---
import {CldImage} from "astro-cloudinary"

const {title, description, image, url} = Astro.props;
---

<!-- Offering Card -->
<figure class="flex flex-col border-2 border-gray-200 rounded-lg overflow-hidden h-full animate-scale max-w-[400px]">

    <!-- Card Cover -->
    <CldImage
            src={image.src}
            alt={image.alt}
            width={400}
            height={300}
            crop="fill"
            gravity="center"
            quality="auto"
            format="auto"
            loading="lazy"
            decoding="async"
            sizes="(max-width: 768px) 100vw, (max-width: 1024px) 50vw, 33vw"
            class="w-full h-auto object-cover brightness-90"
    />

    <!-- Card Content -->
    <figcaption class="flex-1 p-4 lg:p-6 flex flex-col items-start gap-4 lg:gap-6 justify-between prose sm:prose-lg">
        <p class="!mb-0">{description}</p>
        <a href={url} class="button">
            <h3 class="!text-white !mt-0 !mb-0 !text-lg">{title}</h3>
        </a>
    </figcaption>
</figure>