---
import {CldImage} from "astro-cloudinary";

const {title, description, button, url, image} = Astro.props;
---

<!-- Partner Card -->
<div class="flex flex-col items-start justify-between gap-6 border-2 border-gray-200 p-8 h-full animate-scale">

    <!-- Card Cover -->
    <CldImage
            src={image.src}
            alt={image.alt}
            width={550}
            height={300}
            crop="scale"
            gravity="center"
            quality="auto"
            format="auto"
            loading="lazy"
            decoding="async"
            sizes="(max-width: 768px) 100vw, (max-width: 768px) 50vw, 33vw"
            class="w-full h-auto object-cover"
    />

    <!-- Card Content -->
    <div class="prose sm:prose-lg">
        <h3>{title}</h3>
        <p>{description}</p>
    </div>

    <!-- Card Link -->
    <a href={url} target="_blank" rel="noopener noreferrer" class="button">
        {button} {title}
    </a>
</div>